In [1]:
import pandas as pd
from fractions import Fraction

### The Dice Problem - Chap 3 - Bayes Theorem

In [2]:
table = pd.DataFrame(index=[6,8,12])
table['prior'] = Fraction(1,3)
table

   prior
6    1/3
8    1/3
12   1/3

In [3]:
table['likelihood'] = Fraction(1,6), Fraction(1,8), Fraction(1,12)
table

   prior likelihood
6    1/3        1/6
8    1/3        1/8
12   1/3       1/12

In [4]:
def update(table):
    """Computer the posteria probs"""
    table['unnorm'] = table['prior'] * table['likelihood']
    prob_data = table['unnorm'].sum()
    table['posterior'] = table['unnorm'] / prob_data
    return prob_data

In [5]:
prob_data = update(table)
prob_data

Fraction(1, 8)

In [6]:
table

   prior likelihood unnorm posterior
6    1/3        1/6   1/18       4/9
8    1/3        1/8   1/24       1/3
12   1/3       1/12   1/36       2/9

### The Dice Problem Revisited - using Pmf

In [7]:
from empiricaldist import Pmf

In [8]:
# A box with 3: 6,8,12-sided dices => roll get 1 => what is the prob chosen the 6-sided
hypos = [6, 8, 12]
prior = Pmf(1/3, hypos)
prior

6     0.333333
8     0.333333
12    0.333333
Name: , dtype: float64

In [9]:
# qs: quantity, ps: probs
prior.qs, prior.ps

(array([ 6,  8, 12]), array([0.33333333, 0.33333333, 0.33333333]))

In [11]:
likelihood_1 = 1/6, 1/8, 1/12
posterior = prior * likelihood_1
posterior.normalize()
posterior

6     0.444444
8     0.333333
12    0.222222
Name: , dtype: float64

In [12]:
# Roll the same die again, and get 7
likelihood_2 = 0, 1/8, 1/12
# update posterior
posterior *= likelihood_2
posterior.normalize()
posterior

6     0.000000
8     0.692308
12    0.307692
Name: , dtype: float64

#### Updating dice

In [13]:
def update_dice(pmf, data):
    """Update pmf based on new data"""
    hypos = pmf.qs
    likelihood = 1 / hypos
    impossible = (data > hypos)
    likelihood[impossible] = 0
    pmf *= likelihood
    pmf.normalize()

In [14]:
pmf = prior.copy()
pmf

6     0.333333
8     0.333333
12    0.333333
Name: , dtype: float64

In [15]:
update_dice(pmf, 1)
pmf

6     0.444444
8     0.333333
12    0.222222
Name: , dtype: float64

In [16]:
update_dice(pmf, 7)
pmf

6     0.000000
8     0.692308
12    0.307692
Name: , dtype: float64