## Distributions

In [4]:
#!pip install empiricaldist

In [5]:
from empiricaldist import Pmf

### Probability Mass Functions (PMF)

In [7]:
# initiate a Pmf object
coin = Pmf()
coin['heads'] = 1/2
coin['tails'] = 1/2
coin

heads    0.5
tails    0.5
Name: , dtype: float64

In [8]:
# initiate a Pmf from a sequence
die = Pmf.from_seq([1,2,3,4,5,6])
die

1    0.166667
2    0.166667
3    0.166667
4    0.166667
5    0.166667
6    0.166667
Name: , dtype: float64

In [17]:
# Get probs from index
die([1,4,7])

array([0.16666667, 0.16666667, 0.        ])

In [9]:
# Initiate from list
letters = Pmf.from_seq(list("Mississippi"))
letters

M    0.090909
i    0.363636
p    0.181818
s    0.363636
Name: , dtype: float64

In [16]:
letters['s'], letters('s'), letters('t'), 
#letters['t'] => ERROR => May use default_dict???

(0.36363636363636365, 0.36363636363636365, 0)